<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-aliyun-man" version="2.1.8">
    <name>Aliyun MAN Cordova Plugin</name>
    <description>Aliyun MAN Cordova Plugin</description>
    <author>Helix Huang</author>
    <keywords>Aliyun,MAN</keywords>
    <license>Apache 2.0 License</license>
    <repo>https://github.com/helixhuang/cordova-plugin-aliyun-man.git</repo>
    <issue>https://github.com/helixhuang/cordova-plugin-aliyun-man/issues</issue>

    <preference name="APP_KEY"/>
    <preference name="APP_SECRET"/>

    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <js-module src="www/aliyunman.js" name="AliyunMan">
        <clobbers target="aliyunman"/>
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AliyunMan">
                <param name="ios-package" value="AliyunMan" />
            </feature>
        </config-file>
        <header-file src="src/ios/AliyunMan.h" />
        <source-file src="src/ios/AliyunMan.m" />
        <framework src="src/ios/frameworks/AlicloudMobileAnalitics.framework" custom="true" />
        <framework src="src/ios/frameworks/AlicloudUtils.framework" custom="true" />
        <framework src="src/ios/frameworks/CrashReporter.framework" custom="true" />
        <framework src="src/ios/frameworks/UTDID.framework" custom="true" />
        <framework src="src/ios/frameworks/UTMini.framework" custom="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="libz.tbd" weak="true" />
        <framework src="libsqlite3.tbd" weak="true" />
        <framework src="libresolv.tbd" weak="true" />

        <resource-file src="src/ios/MANConfig.plist" />
        <config-file target="*MANConfig.plist" parent="APP_KEY">
            <string>$APP_KEY</string>
        </config-file>
        <config-file target="*MANConfig.plist" parent="APP_SECRET">
            <string>$APP_SECRET</string>
        </config-file>
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AliyunMan">
                <param name="android-package" value="com.cecoco.cordova.AliyunMan"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.alibaba.app.appkey" android:value="$APP_KEY" />
            <meta-data android:name="com.alibaba.app.appsecret" android:value="$APP_SECRET" />
        </config-file>
        <source-file src="src/android/libs/alicloud-android-sdk-man-1.1.8.jar" target-dir="libs"/>
        <source-file src="src/android/libs/alicloud-android-ut-5.1.0.jar" target-dir="libs"/>
        <source-file src="src/android/libs/utdid4all-1.1.5.3_proguard.jar" target-dir="libs"/>
        <source-file src="src/android/libs/jniLibs/armeabi/libMotu.so" target-dir="libs/armebi"/>
        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libMotu.so" target-dir="libs/armebi-v7a"/>
        <source-file src="src/android/libs/jniLibs/x86/libMotu.so" target-dir="libs/x86"/>

        <source-file src="src/android/AliyunMan.java" target-dir="src/com/cecoco/cordova" />
    </platform>

</plugin>
